.grocery-item-card {
    margin-bottom: 30px;
}

.card-body > .btn {
    margin-top: 20px;
}

.card-title {
    font-size: large;
    font-weight: bold;
}
/* 
.card-body > input.form-control {
    width: 60px;
    display: inline-block;
    margin-top: 20px;
} */