/* need to use console to element tags to target for style */

button.btn.btn-secondary.search-icon {
    padding: 0;
    background-color: orange;
    border: none;
    width: 100px;
}

button.btn img {
    width: 45px;
}

.invert{
    filter: invert(100%);
}